.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 210px;
    box-shadow: 0px 8px 16px 0px #E6EFE6;
    z-index: 1;
}
  
.dropdown-content a {
    color: #1c1c1c;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius:5px
}
  
.dropdown-content a:hover {background-color: #E6EFE6;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.css-1r6ehke-MuiToolbar-root {
    background-color: #E6EFE6 !important;
}
.css-1q1u3t4-MuiTableRow-root.Mui-selected {
    background-color: #E6EFE6 !important;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
#customers td, #customers th {
    border: 1px solid #E6EFE6;
    padding: 8px;
}
  
/* #customers tr:nth-child(even){background-color: #f2f2f2;} */
  
#customers tr:hover {background-color: #E6EFE6;}
  
#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #7FAD39;
    color: white;
}
.notRead {
    font-weight: bold;
}

.accept {
    color: #4CAF50;
}
.reject {
    color: #dc3545;
}