.delivery {
    color: #fd7e14 !important;
    border-color: #fd7e14 !important;
}

.delivery_1 {
}

.delivery_2 {
    color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}

.received {
    color: #4CAF50 !important;
    border-color: #4CAF50 !important;
}
.receive_1 {
}